// @utor: Ing. Yubisel Vega Alvarez
// em@il: yubiselv@gmail.com

* {
    outline: none !important;
}

.card-body.chat-container{
    padding: 0;
    .card{
        min-height: 500px;
        margin-bottom: 0;
        border-radius: 0;
        .card-header{
            min-height: 2rem;
        }
        .card-body{
            padding: .5rem;
        }
    }
}