{{#if error}}
<div class="alert alert-icon alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"></button>
    <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> {{error}}
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-icon alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"></button>
    <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> {{error_msg}}
</div>
{{/if}}