<!doctype html>
<html lang="es" dir="ltr">

<head>
    {{> meta }}
    <title>Notes App</title>
    {{> assets }}
</head>

<body class="">
    <div class="page">
        <div class="page-main">
            {{> header }}

            {{> navigation }}
            
            <div class="my-3 my-md-5">
                <div class="container">


                    {{> messages }}
                    {{> errors}}

                    {{{ body }}}

                </div>
            </div>
        </div>
        {{> footer }}
    </div>

    {{> delete-modal }}
</body>

</html>